*.o
*.obj
*.ilk
*.suo

Tools/Debug
Tools/Release
Tools/umtools.sdf
Tools/*.exe
Tools/php-cgi
Tools/umcomp
Tools/umdeps
Tools/umserver

Work/*
!Work/Demos
!Work/Posters
!Work/Sayings
!Work/Utils
!Work/Widgets
!Work/Primitives.js